

  @import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Poppins&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


/*scroll bar*/

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 1px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #5B8FB9; 
  border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#59CE8F; 
}


html,
body,
#root,
.app {
  height: 100%;
  background-color: #0d1118;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  scroll-behavior: smooth;
  @apply text-white;
}

.bg-wrapper{
  background-color: rgba(0,0,0, 0.3);
  backdrop-filter: blur(2px);
}

/*back to top btn*/

.top-to-btm{
  position: absolute;
}
.icon-position{
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}
.icon-style{
  background-color: #31be73;
  border-radius: 5%;
  height: 50px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all .5s ease-in-out;
}
.icon-style:hover{
  animation: none;
  background: #5B8FB9;
  color: var(--app-second-col);
  border: 2px solid var(--app-second-col);
}

.loader{
  width: 100% !important;
  height: 100vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overflowHidden {
  overflow: hidden;
  margin: 0;
  touch-action: none;
  -ms-touch-action: none;
  height: 100%;
}

